

.logo{
    background-image: url(../img/ns_logo.webp);
    position: relative;
    left: 394px;
    top: 5px;
    height: 28px;
    width: 74px;
    background-size: cover;
}


.klok{
    background-image: url(../img/klok.webp);
    position: relative;
    left: 30px;
    top: 30px;
    height: 180px;
    width: 180px;
    background-size: cover;
}
 

 

#container{
    width: 936px;
    display: flex;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
    margin-left: 124px;
    margin-top: 146px;
}

#left{
    width: 240px;
    background-color: #f2f2f2;
    height: 339px;
    border: 2px solid #000;
}

#middle {
    width: 568px;
    height: 340px;
    background-color: rgb(0, 0, 106);
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
}

#right{
    width:128px;
    height: 339px;
    background-color: rgb(0, 0, 106);
    border: 2px solid #000;
}

.witvierkantrechts{
    position: relative;
    width: 94px;
    height: 94px;
    background-color: rgb(255, 255, 255);
    margin-top: 36px;
    margin-left: 15px;
}

.blauwvierkantrechts{
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 106);
}

.achtien{
    position: absolute;
    font-size: 65px;
    color: rgb(0, 0, 106);
    margin-top: 25px;
    margin-left: 0px;
}

.letterb{
    position: absolute;
    font-size: 35px;
    color: rgb(0, 0, 106);
    margin-top: 30px;
    margin-left: 70px;
}

.spoorrechts{
    position: absolute;
    font-size: 15px;
    color: rgb(0, 0, 106);
    margin-top: 0px;
    margin-left: 22px;
}

.witvierkantmidden{
    position: relative;
    width: 475px;
    height: 245px;
    background-color: rgb(255, 255, 255);
    margin-top: -1px;
    margin-left: 5px;
}

.nummer1midden{
    position: absolute;
    font-size: 40px;
    color: rgb(0, 0, 106);
    margin-top: -2px;
    margin-left: 10px;
}

.minuutmidden{
    position: absolute;
    font-size: 27px;
    color: rgb(0, 0, 106);
    margin-top: 10px;
    margin-left: 40px;
}

.intercitymidden{
    position: absolute;
    font-size: 42px;
    color: rgb(0, 0, 106);
    margin-top: -2px;
    margin-left: 245px;
}

.plaatsmidden{
    position: absolute;
    font-size: 40px;
    color: rgb(0, 0, 106);
    margin-top: 15px;
    margin-left: 10px;
}

.tekstmidden{
    position: absolute;
    font-size: 26.2px;
    color: rgb(0, 0, 106);
    margin-top: 65px;
    margin-left: 10px;
}

.tekst1midden{
    position: absolute;
    font-size: 26.2px;
    color: rgb(0, 0, 106);
    margin-top: 101px;
    margin-left: 10px;
}

.blauwvierkantmidden{
    position: absolute;
    left: 0;
    right: 0;
    width: 475px;
    height: 30px;
    margin-top: 218px;
    margin-left: 0px;
    background-color: rgb(0, 0, 66);
}

.tekst1middenbeneden{
    position: absolute;
    font-size: 26.2px;
    color: rgb(255, 255, 255);
    margin-top: 220px;
    margin-left: 10px;
}

